/node_modules
/vendor
/.idea
/bower_components
*.mp3
*.log
config.json
*.env
./idea
/.idea/workspace.xml
.idea/workspace.xml
**/.idea/workspace.xml
*.sw?
.#*
*#
*~
.env
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.vscode
.mvn/wrapper
spring_app.log
*.gz
*.csv
*.docs
*.png
*.pdf
hiberdickens_app.log
ut.log
.php_cs.cache
/var/cache
