{% extends 'base.html.twig' %}

{% block body %}

<section>
	<div class="container-fluid">
		<div class="row">

      		{% for stg in stages %}
			  	<div class="col-2">
	        		<div class="course-div"><h3> {{ stg.title }}</h3></div>
	      		</div>
 			{% endfor %}

    	</div>




	    <div class="row ">

	   		{% for stg in stages %}
   				<div class="col-2 ">
	    	 		{% for tsk in stg.tasksList %}
    	  				<div class="course-div" > {{ tsk.title }}  <b>{{ tsk.projects.title }}</b> </div>
      				{% endfor %}
	     		</div>
			{% endfor %}

   		</div>


	</div>
</section>
{% endblock %}

